/*SECCIÓN ACERCA DE*/
*{
    padding: 1vw;
    background-color: black;
    color: white;
}

/*Estilo foto de perfil*/

@media (min-width: 576px){
    #profilePhoto{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        top: 16.5vw;
        left: 10vw;
    }
}

@media (max-width: 576px){
    #profilePhoto{
        position: absolute;
        width: 40%;
        border-radius: 100%;
        top: 16.5vw;
        left: 27vw;
    }

    .profileDiv{
        margin-bottom: 30%;
    }
}

