
<div class="row skills">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'grey'"
            [innerStrokeColor]="'orange'"
            [animation]="true"
            [animationDuration]="800"
            [imageSrc]="'../assets/html-5.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth] = "50"
            [titleFontWeight]="'900'"
            [titleFontSize]="'300'"
            [title]="'HTML'"
            [titleColor]="'white'"
            [showTitle]="true"
            [showUnits]="false"
            [backgroundColor]="'white'"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'grey'"
            [innerStrokeColor]="'blue'"
            [animation]="true"
            [animationDuration]="800"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth] = "50"
            [titleFontWeight]="'900'"
            [titleFontSize]="'300'"
            [title]="'HTML'"
            [titleColor]="'white'"
            [showTitle]="true"
            [showUnits]="false"
            [backgroundColor]="'white'"
        ></circle-progress>
    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="10"
            [outerStrokeColor]="'grey'"
            [innerStrokeColor]="'yellow'"
            [animation]="true"
            [animationDuration]="800"
            [imageSrc]="'../assets/jslogo.png'"
            [showImage]="true"
            [imageHeight]="50"
            [imageWidth] = "50"
            [titleFontWeight]="'900'"
            [titleFontSize]="'300'"
            [title]="'HTML'"
            [titleColor]="'white'"
            [showTitle]="true"
            [showUnits]="false"
            [backgroundColor]="'white'"
        ></circle-progress>
    </div>
</div>