<div class="row proyectos">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 textoProyectos">
            <h1>Encriptador</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae neque assumenda deserunt. Qui animi nemo fuga numquam labore nostrum. Qui, distinctio consectetur? Magni molestiae sapiente at nemo provident ut numquam.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 imgProyectos">
            <img src="../../../assets/encriptador.jfif" class="img-fluid imgEncriptador">
        </div>
    </div>

</div>