<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img
          src="../../../assets/profilePhoto.jfif"
          class="img-fluid"
          alt="Foto de Perfil"
          id="profilePhoto"
        />
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h1 id="name">Victoria Cavanna</h1>
        <h2>Full Stack Developer Jr</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
          <p>Acerca de mí</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea
            consequatur cum, aperiam repellendus earum placeat fugiat eius
            nostrum aliquid magni ipsa rerum quae maiores provident. Iusto
            reprehenderit facilis quam odit.
          </p>
        </span>
      </div>
    </div>
  </body>
</html>
