nav{
    padding-left: 10vw;
}

.logoAP{
    width: 10vw;
    margin: 0;
    padding: 5%;
} 

.redes {
    padding-right: 10vw;
}

.redes img {
    width:1.8vw;
    margin: 0.7VW;
    padding-top: 20%;
    
}

@media (min-width: 576px){
    button {
        position: absolute;
        right: 2vw;
        top: 2vw;
        border: none;
        color: white;
        width: 5vw;
        height: 2vw;
        line-height: 1vw;
        text-align: center;
        background: linear-gradient(
            90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4
        );
        background-size: 300%;
        border-radius: 10vw;
        font-size: 1vw;
        text-transform: uppercase;
        cursor: pointer;
        z-index: 1;
    }
    
    button:hover {
        animation: animation 8s linear infinite;
        border: none;
    }
    
    @keyframes animation {
        0% {background-position: 0%;}
        100% {background-position: 400%;}
    }
    
    button:before {
        content: "";
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient( 90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
    }
    
    button:hover::before {
        filter: blur(20px);
    }
}

