<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row experiencia">
        <h1>Educación</h1>
        <div class="col-lg-11 col-md-11 col-sm-11 col-xsm-11"> 
            <ul>
                <li> <h2>Institución 1</h2> - <h3>(years)</h3>  </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis enim corrupti quidem reiciendis necessitatibus, facere et! Quod, facere. Facilis sint aperiam cum fugiat ea eaque perspiciatis velit non earum tempora.
                </p>
            </ul>
            <ul>
                <li> <h2>Institución 2 </h2> - <h3>(years)</h3>  </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis enim corrupti quidem reiciendis necessitatibus, facere et! Quod, facere. Facilis sint aperiam cum fugiat ea eaque perspiciatis velit non earum tempora.
                </p>
            </ul>
            <ul>
                <li> <h2>Institución 3</h2> - <h3>(years)</h3>  </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis enim corrupti quidem reiciendis necessitatibus, facere et! Quod, facere. Facilis sint aperiam cum fugiat ea eaque perspiciatis velit non earum tempora.
                </p>
            </ul>
        </div>
    </div>
</body>
</html>

