<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="logosRedes">
        <a href=""> <img src="../../../assets/instagram.png" alt="logo de instagram" id="instagram"></a>
        <a href=""> <img src="../../../assets/linkedin.jpg" alt="logo de linkedin" id="linkedin"></a>
        <a href=""> <img src="../../../assets/github.jpg" alt="logo de github" id="github"></a>
        <a href=""> <img src="../../../assets/twitter.png" alt="logo de twitter" id="twitter"></a>
    
    </div>
</body>
</html>
